[Unit]
Description=CHIP-control
After=network.target

[Service]
WorkingDirectory=/opt/CHIP-control
ExecStart=/usr/bin/node chip-control-server.js
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
